---
import Section from "../Section.astro"

import { work } from '@cv-en'

import { calculateMonthYear } from "@/utils/date"
---

<Section title="Experience">
  <ul>
    {
      work.map(({ name, startDate, endDate, url, workFlow }) => {
        const years = `${calculateMonthYear(startDate)} - ${calculateMonthYear(endDate)}`
        return (
          <li>
            <article>
              <header class="separator-header">
                <h3>
                  <a
                    title={`Go to company ${name}`}
                    target="_blank"
                    rel="noopener noreferrer" 
                    href={url}
                  >
                    {name}
                  </a>
                </h3>
                <time>
                  {years}
                </time>
              </header>
              <footer>
                <ul>
                  {
                    workFlow.map(({ position, summary, startDate, endDate }) => {
                      const years = `${calculateMonthYear(startDate)} - ${calculateMonthYear(endDate)}`
                      return (
                        <li>
                          <article>
                            <header>
                              <h4>{position}</h4>
                              <time>
                                {years}
                              </time>
                            </header>
                            <footer>
                              {
                                summary.map((paragraph, index) => {
                                  return (
                                    <p class:list={{paragraphSpace: index !== 0}}>&bull; {paragraph}</p>
                                  )
                                })
                              }
                            </footer>
                          </article>
                        </li>
                      )
                    })
                  }
                </ul>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .separator-header {
    border-bottom: 1px solid #c0bebe;
    padding-bottom: 6px;
  }

  article h3 a {
    font-weight: 500;
    color: #111;
  }

  article header h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

</style>